{% extends 'default.html' %}
{% block title %}
    List View
{% endblock %}
{% block content %}
    <div class="row">
        {% for memory in memories %}
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="my-0">{{ memory['title'] }}</h5>
                </div>
                <div class="card-body">
{#                    <h5 class="card-title"></h5>#}
                    <p class="card-text">{{ memory['value'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="list-group">

    </ul>
{% endblock %}

{% block scripts %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}